fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
bcrypt
requests
pandas==2.2.1
numpy<2.0.0
torch==2.2.1
pytorch-lightning==2.2.1
scikit-learn==1.4.1.post1
xgboost==2.0.3
joblib==1.3.2
langchain
langchain-openai
langchain-community
langchain-huggingface
langchain-core
chromadb
sentence-transformers
huggingface-hub
pypdf
slowapi
matplotlib
seaborn
pytorch-forecasting==1.0.0
email-validator
