fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
bcrypt
requests
pandas
numpy
torch
pytorch-lightning
scikit-learn
xgboost
joblib
langchain
langchain-openai
langchain-community
langchain-huggingface
langchain-core
chromadb
sentence-transformers
huggingface-hub
pypdf
slowapi
matplotlib
seaborn
pytorch-forecasting
email-validator
